{CORE COMPONENTS}
% Comment lines start with the `%' character
[]
\mi\install\tools\uninstall.exe (uninstall)
\mi\install\tools\cleanup.exe (cleanup)
[]
\windows\system32\mi_sys.dll (core)
  "[module_dlls]\loadable_modules.cache" (file)
\windows\system32\mi_persist.dll (core)
%
[doc]
\mi\doc\flex.ps
[doc\manual]
\mi\doc\manual\mi_manual.doc
\mi\doc\manual\mi_manual.ps
\mi\doc\manual\index.html
\mi\doc\manual\Preface.html
\mi\doc\manual\Overview.html
\mi\doc\manual\Getting_Started.html
\mi\doc\manual\Fundamental_Concepts.html
\mi\doc\manual\Image2.gif
\mi\doc\manual\Image3.gif
%
[bin]
\mi\bin\mi_pipe.exe (console)
\mi\bin\mi_pipe2.exe (console)
\mi\bin\mi_find.exe (console)
\mi\bin\mi_viewer.exe (application)
\mi\bin\mi_version.exe (application)
\mi\bin\mi_process.exe (application)
  "Software\Hewlett-Packard\Media Interface\mi_process" (key)
\mi\bin\misedit.exe (application)
  "Software\Hewlett-Packard\Media Interface\misedit" (key)
%
[module_dlls]
\mi\module_dlls\read_file.dll (module)
  "[module_dlls]\read_file_formats.cache" (file)
\mi\module_dlls\write_file.dll (module)
  "[module_dlls]\write_file_formats.cache" (file)
%
% The above two modules each have an auxilliary cache file
% which should be cleaned up when the relevant module is uninstalled.
% The syntax for representing auxiliary files is identical to
% representing auxiliary registry keys, as discussed above, except that
% any embedded strings which are enclosed within square brackets will
% be expanded by discarding the square brackets and prepending the
% Media Interface home directory path name.  To prevent the removal
% of files from arbitrary locations on the client system, any file
% names which do not commence with such an embedded string will be
% interpreted as being relative to the directory within which the
% relevant component was installed.  Note that file names may
% include wildcard characters.
%
\mi\module_dlls\mis.dll (module)
\mi\module_dlls\read_file_bmp.dll (module)
\mi\module_dlls\write_file_bmp.dll (module)
\mi\module_dlls\read_file_pnm.dll (module)
\mi\module_dlls\write_file_pnm.dll (module)
\mi\module_dlls\read_file_flex.dll (module)
\mi\module_dlls\write_file_flex.dll (module)
\mi\module_dlls\read_file_mflex.dll (module)
\mi\module_dlls\write_file_mflex.dll (module)
\mi\module_dlls\read_file_tiff.dll (module)
\mi\module_dlls\write_file_tiff.dll (module)
\mi\module_dlls\read_raw.dll (module)
\mi\module_dlls\write_raw.dll (module)
\mi\module_dlls\view.dll (module)
  "Software\Hewlett-Packard\Media Interface\View Module" (key)
%
% The above component uses a registry entry, which should be cleaned
% up when the component is uninstalled.  The registry key's nane
% appears within quotes.  Any number of keys or files may be associated
% with an installed component, with one item appearing on each line.
% When the component is uninstalled any registry key found with this
% name within HKEY_LOCAL_MACHINE and/or HKEY_CURRENT_USER will be
% removed.
%

{USEFUL DATA}
%
[data]
\mi\data\ntsc_rgb_space
\mi\data\ntsc_yuv_space
\mi\data\ntsc_yiq_space
\mi\data\ntsc_ycbcr_space
\mi\data\linear_sycbcr_space
\mi\data\linear_srgb_space
\mi\data\srgb_space
\mi\data\vrhel_stats
\mi\data\prop_cmyg
\mi\data\prop_rgb

{EXAMPLE IMAGES}
%
[images]
\mi\images\test_image.flex

{EXAMPLE MODULES}
%
[ansi_c_examples\simple_example]
\mi\ansi_c_examples\simple_example\simple_example.c
\mi\ansi_c_examples\simple_example\simple_example.h
%
[c_plus_plus_examples\simple_example]
\mi\c_plus_plus_examples\simple_example\simple_example.cpp
\mi\c_plus_plus_examples\simple_example\simple_example.hpp
%
[ansi_c_examples\illustrative_example]
\mi\ansi_c_examples\illustrative_example\illustrative_example.c
\mi\ansi_c_examples\illustrative_example\illustrative_example.h
%
[c_plus_plus_examples\illustrative_example]
\mi\c_plus_plus_examples\illustrative_example\illustrative_example.cpp
\mi\c_plus_plus_examples\illustrative_example\illustrative_example.hpp
%
[c_plus_plus_examples\unsharp_example]
\mi\c_plus_plus_examples\unsharp_example\unsharp_example.cpp
\mi\c_plus_plus_examples\unsharp_example\unsharp_example.hpp
%
[c_plus_plus_examples\cc_thumb]
\mi\c_plus_plus_examples\cc_thumb\cc_thumb.cpp
\mi\c_plus_plus_examples\cc_thumb\cc_thumb.hpp
%
[ansi_c_examples\fork]
\mi\ansi_c_examples\fork\fork.c
\mi\ansi_c_examples\fork\fork.h
%
[ansi_c_examples\read_file_pnm]
\mi\ansi_c_examples\read_file\read_file_pnm.c
\mi\ansi_c_examples\read_file\read_file_pnm.h
%
[ansi_c_examples\write_file_pnm]
\mi\ansi_c_examples\write_file\read_file_pnm.c
\mi\ansi_c_examples\write_file\read_file_pnm.h
%
[c_plus_plus_examples\multires]
\mi\c_plus_plus_examples\multires\multires.cpp
\mi\c_plus_plus_examples\multires\multires.hpp
%
[module_dlls]
\mi\module_dlls\simple_example.dll (module)
\mi\module_dlls\illustrative_example.dll (module)
\mi\module_dlls\unsharp_example.dll (module)

{STANDARD MODULES}
[module_dlls]
\mi\module_dlls\add_slack.dll (module)
\mi\module_dlls\cc_interp.dll (module)
\mi\module_dlls\cc_thumb.dll (module)
\mi\module_dlls\compare_planes.dll (module)
\mi\module_dlls\crop_n_shuffle.dll (module)
\mi\module_dlls\decimate_planes.dll (module)
\mi\module_dlls\dev_sim.dll (module)
\mi\module_dlls\discard_streams.dll (module)
\mi\module_dlls\downconvert.dll (module)
\mi\module_dlls\extract_plane.dll (module)
\mi\module_dlls\fork.dll (module)
\mi\module_dlls\frame_repeat.dll (module)
\mi\module_dlls\gauss_quant.dll (module)
\mi\module_dlls\image_arith.dll (module)
\mi\module_dlls\include_components.dll (module)
\mi\module_dlls\inspect.dll (module)
\mi\module_dlls\measure_stream.dll (module)
\mi\module_dlls\multires.dll (module)
\mi\module_dlls\null.dll (module)
\mi\module_dlls\poisson.dll (module)
\mi\module_dlls\random_select.dll (module)
\mi\module_dlls\rate_control.dll (module)

{JPEG MODULES}
[module_dlls]
\mi\module_dlls\register_jpeg_components.dll (module)
\mi\module_dlls\jpeg_compress.dll (module)
\mi\module_dlls\jpeg_decompress.dll (module)
\mi\module_dlls\read_file_jpeg.dll (module)
\mi\module_dlls\write_file_jpeg.dll (module)

{DIGITAL CAMERA MODULES}
[module_dlls]
\mi\module_dlls\gide.dll (module)
\mi\module_dlls\lognail.dll (module)
\mi\module_dlls\retinex.dll (module)
\mi\module_dlls\to_cfa.dll (module)
\mi\module_dlls\estimate_illuminant.dll (module)

{DEVELOPMENT COMPONENTS}
%
[]
\windows\system32\mi_sys_dbg.dll (core)
[lib]
\mi\lib\mi_sys.lib
\mi\lib\mi_console.lib
\mi\lib\mi_sys_dbg.lib
\mi\lib\mi_console_dbg.lib
[bin]
\mi\bin\mi_pipe_dbg.exe (console)
\mi\bin\mi_pipe2_dbg.exe (console)
%
[include]
\mi\include\mi_basic_types.h
\mi\include\mi_basic_types.ver
\mi\include\mi_components.h
\mi\include\mi_components.ver
\mi\include\mi_load.h
\mi\include\mi_load.ver
\mi\include\mi_messaging.h
\mi\include\mi_messaging.ver
\mi\include\mi_parser.h
\mi\include\mi_parser.ver
\mi\include\mi_std.h
\mi\include\mi_std.hpp
\mi\include\mi_std_components.h
\mi\include\mi_std_components.ver
\mi\include\mi_streams.h
\mi\include\mi_streams.ver
\mi\include\mi_system.h
\mi\include\mi_system.ver
\mi\include\mi_threads.h
\mi\include\mi_console.h
\mi\include\mi_jpeg_components.h
\mi\include\mi_jpeg_components.ver
%
[include\wrappers]
\mi\include\wrappers\mi_image_filter.hpp
%
[bin]
\mi\bin\mi_precompile.exe (console)
  "-release -source [include]\mi_*.h -stubs *.hv *.hpp -html [doc] main console jpeg_components" (execute)
  "[doc]\main\*" (file)
  "[doc]\console\*" (file)
  "[doc]\jpeg_components\*" (file)
  "[doc]\*" (file)
  "[include]\*.hv" (file)
  "[include]\*.hpp" (file)
%
% The above component is to be executed immediately after it has been
% installed.  The quoted string contains the arguments which are to
% be passed to the program, which may be empty if their are none.
% Note that any sub-string enclosed in square brackets is automatically
% converted to a new string by removing the brackets and prepending the
% Media Interface home directory.  This is true for the (file) specifiers as
% well, as evidenced by the last four expressions which indicate that all
% precompiler generated header and documentation files are to be cleaned up
% if the precompiler itself is uninstalled.
%
[bin]
\mi\bin\make_install_archive.exe
\mi\bin\uninstall.exe
\mi\bin\cleanup.exe
%
[install\configs]
\mi\install\configs\example.config
%
[install\distribute]
\mi\install\distribute\setup.exe
%
